texput.log
whitepaper.aux
whitepaper.bbl
whitepaper.bcf
whitepaper.bib.bbl
whitepaper.bib.blg
whitepaper.blg
whitepaper.glg
whitepaper.glo
whitepaper.gls
whitepaper.ist
whitepaper.log
whitepaper.run.xml
